doctype html
html

	head
		title="Ulises G 5000 R"
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript' src='/javascripts/historics.js')
		script(type='text/javascript' src='/javascripts/backups.js')
		script(type='text/javascript' src='/pdfmake/pdfmake.min.js')
		script(type='text/javascript' src='/pdfmake/vfs_fonts.js')
		script(type='text/javascript' src='/javascripts/tableBss.js')
		script(type='text/javascript' src='/javascripts/authentication.js')
		script(type='text/javascript' src='/javascripts/version.js')
		script.
			var actual='';
			var actualShow='';
			var actualAnimate='';
			var checkCookie = false;
			var PageLog;

			window.onbeforeunload = function () {
				authentication();
			};

			function SetRegion(){
				$('#hRegion').text($('#BodyRedan').data('region'));
			}

			function SetVersion(){
				//$('#hVersion').text($('#BodyRedan').data('version'));
				//$('#hVersion').text('version');
			}	

			function startTime() {
				var ESdays = ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sabado'];
				var ENdays = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
				var today=new Date();
				var h=today.getHours();
				var m=today.getMinutes();
				var s=today.getSeconds();

				var y=today.getFullYear();
				var month=today.getMonth() + 1;
				var d=today.getDate();

				var weekDay = navigator.languages[0].substr (0, 2) == 'es' ? ESdays[today.getDay()] : ENdays[today.getDay()];
				m = checkTime(m);
				s = checkTime(s);
				document.getElementById('_hsolohora').innerHTML = h+":"+m+":"+s;
				document.getElementById('_hfecha').innerHTML = d + "/" + month + "/" + y + " (" + weekDay + ")";
				var t = setTimeout(function(){startTime()},500);

				if (checkCookie)
					CheckCookie();
			}

			function CheckCookie(){
				if (document.cookie.indexOf("U5K-G") < 0){
					checkCookie = false;
					//alert('Login timeout after ' + $('#Login-Operador').data('logintimeout') + ' minutes.');
					alertify.alert('Ulises G 5000 R', 'Login timeout after ' + $('#BodyRedan').data('logintimeout') + ' minutes.');
					alertify.error('Login timeout after ' + $('#BodyRedan').data('logintimeout') + ' minutes.');
					window.location=$('#BodyRedan').data('actualLocation');
				}
			}

			function checkTime(i) {
				if (i<10) {i = "0" + i};  // add zero in front of numbers < 10
				return i;
			}

			function RefreshCookie(){
				if (document.cookie.indexOf("U5K-G") >= 0){
					SetCookie('U5K-G',$('#BodyRedan').data('perfil'));
				}
			}

			function showMaintenancePanel(maintenanceService){
				$('#FormHistorics').fadeOut(300,function(){
					$('#FormStatiscs').fadeOut(300);
					$('#MenuFiltros').fadeOut(300,function(){
						$('#MenuPasarelas').fadeOut(300,function(){
							if (maintenanceService === 'Pasarelas'){
								$('#MenuPasarelas').fadeIn(300);
								$('#MenuPasarelas').attr('style','display:table-cell;width:11%;vertical-align: top')
								$('#FiltersStatics').hide();
								$('#FiltersHistorics').hide();
								$('#GotoGatewaysLocalConfiguration').show();
							}
							else{
								$('#MenuFiltros').fadeIn(300);
								$('#MenuFiltros').attr('style','display:table-cell;width:11%;vertical-align: top')
								$('#GotoGatewaysLocalConfiguration').hide();
								if (maintenanceService == "Maintenance"){
									$('#FiltersStatics').hide();
									$('#FiltersHistorics').show();
								}
								else{
									$('#FiltersHistorics').hide();
									$('#FiltersStatics').show();
								}
							}
						});
					});
				});
			}

			function hidePrevious(form,showThis,animateThis){
				if (actual != form){
					if (actual != ''){
						$(actualAnimate).animate({width: '5px'});
						$('#FormParameters').hide();
						$(actualShow).hide();
						$(actual).hide();
						$(actualAnimate).fadeOut(100);
					}
					actual=form;
					actualShow = showThis;
					actualAnimate = animateThis;
					//if ( !$(actualAnimate).is(':visible'))
					$(actualAnimate).animate({height: '670px'})
					$(actualAnimate).fadeIn(100);
					$(actualAnimate).animate((animateThis=='#DivGateways' || animateThis=='#DivConfigurations' || animateThis=='#DivHardware' || animateThis=='#DivTableBss') ? {width: '350px'} : {width: '145px'});
				}
			}

			function hidePreviousHistorics(form,showThis,animateThis){
				$(actualAnimate).show();

				if (actual != ''){
					$(actualAnimate).animate({width: '5px'});
					$(actualShow).hide();
					$(actual).hide();
				}
				actual=form;
				actualShow = showThis;
				actualAnimate = animateThis;
				$(actualAnimate).animate({width: '175px'});
			}

			function hidePreviousBackup(form,showThis,animateThis){
				if (actual != ''){
					$(actualAnimate).animate({width: '5px'},function(){
						$(actualShow).hide();
						$(actual).hide();
						$(actualAnimate).fadeOut(100,function(){
							actual=form;
							actualShow = showThis;
							actualAnimate = animateThis;

							$(actualAnimate).fadeIn(100,function(){
								$(actualShow).show();
								$(actual).show();
								$(actualAnimate).animate(animateThis == '#DivLogs' ? {width: '1000px'} : {width: '375px'});
							});
						});
					});
				}
				else{
					actual=form;
					actualShow = showThis;
					actualAnimate = animateThis;

					$(actualAnimate).fadeIn(100,function(){
						$(actualShow).show();
						$(actual).show();
						$(actualAnimate).animate(animateThis == '#DivLogs' ? {width: '1000px'} : {width: '375px'});
					});
				}
			}

			function hideMenu(menu,form){
				$('#Menu').fadeOut(500,function(){
					$('#MenuGeneral').attr('style','display:table-column');
					$(menu).fadeIn(500);
					$(form).attr('style','display:table-cell;width:11%');
					
					if (menu == "#MenuConfiguration"){
						translateWord('Activate',function(result){
							if ($('#listaOpciones li:nth-last-child(2)').text() != result){
								var item = $('<li style="margin-top:100px"><a onclick="CheckingAnyChange(\'GeneralContent\', function(){GetActiveCfgAndActivate()})">' + result + '</li>');
								item.insertBefore($('#listaOpciones li:last-child'));
							}
						})

						if (($('#BodyRedan').data('perfil') & 16) == 16){
							$('#MenuOpciones').attr('style','display:table-cell;width:11%')
							EnableOptions($('#BodyRedan').data('perfil'));
						}
						else
							EnableOptions($('#BodyRedan').data('perfil'));
					}
				})
			}

			function hide(){
				if (($('#BodyRedan').data('perfil') & 64) != 64){
					window.location=$('#BodyRedan').data('actualLocation');
					checkCookie = false;
					document.cookie = 'U5K-G=; expires=Thu, 01 Jan 1970 00:00:00 UTC';
					return;
				}

				if (actual != ''){
					$(actualAnimate).fadeOut(500,function(){
						$(actualShow).hide();
						$(actual).hide();
						$('#FormParameters').hide();
						actual = '';
					});
				}

				if ($('#MenuConfiguration').is(':visible')){
					$('#MenuConfiguration').fadeOut(500,function(){
						$('#Menu').fadeIn(500);
						$('#MenuGeneral').attr('style','width:11%;display:table-cell');
					});
				}
				if ($('#MenuHistoricos').is(':visible')){
					$('#MenuHistoricos').fadeOut(500,function(){
						$('#MenuFiltros').attr('style','display:table-column');
						$('#MenuPasarelas').attr('style','display:table-column');
						$('#Menu').fadeIn(500,function(){
							$('#MenuGeneral').attr('style','width:11%;display:table-cell');
						});
					});
				}
				if ($('#MenuBackup').is(':visible')){
					$('#MenuBackup').fadeOut(500,function(){
						$('#Menu').fadeIn(500);
						$('#MenuGeneral').attr('style','width:11%;display:table-cell');
					});
				}
			}

			function loadPendingChanges(){
				$.ajax({type: 'GET', 
						url: '/configurations/listOfGateways/',

						success: function(data){
									if (data != 'NO_DATA'){
										if (data.result != null && data.result.length > 0){
											$.each(data.result, function(index, value){
												listOfGateways = listOfGateways.concat(value.Gateway + ',')
											})
										}
									}
								}
				});
			}

			function Logout(){
				authentication();
				var index = BodyRedan.baseURI.indexOf('#');
				if( index > -1)
					BodyRedan.baseURI = BodyRedan.baseURI.substr(0, index-1);

				window.location.href=$('#BodyRedan').data('actualLocation')
				GenerateHistoricEvent(ID_HW,USER_LOGOUT_SYSTEM,$('#loggedUser').text(),$('#loggedUser').text());
			}


		table(style='width:100%')
			tr
				td(style='width:15%')
					#_contSupIzq.divCabeceraNucleo
						#_logo
							img#imgLogo(src="images/nucleo-df-new.jpg")
				td(style='width:60%')
					#_tit_ppal.divCabeceraNucleo
						h1.efecto-espejo(style='text-align:center') ULISES G 5000 R
						//
							.divCabeceraNucleo
						h2#hRegion						

				td(style='width:25%')
					#_contSupDrcha.divCabeceraNucleo
						table
							tr
								td(style='width:85%')
									table(width='100%')
										tr
											td
												#_usuario.labelNucleo(style='text-align: -webkit-right' tkey='User')
											td
												b#loggedUser.labelNucleo 
									#fecha(style='margin-top: 10px')
										h4#_hfecha.labelNucleo(style='margin-top: 0px;margin-bottom: 0px')
									#hora
										h4#_hsolohora.labelNucleo(style='margin-top: 0px;margin-bottom: 0px')
								td(style='width:15%')
									a.ButtonNucleo#buttonLogout(style='display:none' onclick="Logout();checkCookie = false;document.cookie = 'U5K-G=; expires=Thu, 01 Jan 1970 00:00:00 UTC';") Logout

	body#BodyRedan(onload='$("#BodyRedan").data("actualLocation",window.location.href);startTime();translateForm();loadPendingChanges()' onmousemove='RefreshCookie()')
		.divNucleo.logoDF(style='height:780px') 
			#Menu
				table
					tr
						td#MenuGeneral(style='width:11%; display:table-column')
							nav.menu
								h3 Menu General
								ul.menuList(style='height:15%')
									li
										a(onclick="hideMenu(\'#MenuConfiguration\',\'#MenuOpciones\')" tkey='Configuration') 
									li
										a(onclick="hideMenu(\'#MenuHistoricos\',\'#MenuMantenimiento\'); LoadGatewaysInActiveConfiguration()" tkey='Maintenance') 
									li
										a(onclick="hideMenu(\'#MenuBackup\',\'#MenuCfgBackup\');" tkey='Backup') 

			#MenuConfiguration
				table#Principal(style='width:100%')
					tr(style='vertical-align:top')
						td#MenuOpciones(style='width:11%; display:table-column')
							nav#NavMenu.menu(style='width:auto;height: 670px')
								h3(tkey='Options') 
								ul#listaOpciones.menuList(style='height:inherit')
									li
										a(onclick="CheckingAnyChange(\'GeneralContent\', function(){hidePrevious(\'#FormConfiguration\',\'#AddFormConfiguration\',\'#DivConfigurations\'); GetConfigurations()})" tkey='Configurations') 
									li
										a(onclick="CheckingAnyChange(\'GeneralContent\', function(){hidePrevious(\'#FormTableBss\',\'#AddTableBss\',\'#DivTableBss\'); GetTablesBss()})", tkey='TableBss') 
									//
									//li
									//	a(onclick="CheckingAnyChange(\'GeneralContent\', function(){hidePrevious(\'#FormRadioDestinations\',\'#AddFormDestinations\',\'#DivDestinations\'); GetRadioDestinations()})" tkey='RadioDestinations') 
									li.menuListDisabled
										a(onclick="CheckingAnyChange(\'GeneralContent\', function(){hidePrevious(\'#FormOperador\',\'#AddFormUser\',\'#DivOperador\'); GetUsuarios()})", tkey='Users')
									li.menuListDisabled
										a(onclick="CheckingAnyChange(\'GeneralContent\', function(){hidePrevious(\'#FormVersion\',\'#AddFormVersion\',\'#DivVersion\'); GetVersion(false)})", tkey='MenuVersion')
									li(style='margin-top:100px')
										a( onclick="CheckingAnyChange(\'GeneralContent\', function(){hide()})", tkey='Exit') 
						td#GeneralDiv
							block content
							block component
							//	FORM CONFIGURATION
							block configuration
							include ./services/postConfiguration.jade
							//	FORM GATEWAY
							block gateways
							include ./services/postGateway.jade
							//	FORM USER
							block user
							include ./services/postUsuario.jade
							// FORM TABLE BSS
							block table_bss
							include ./services/postTableBss.jade
							// FORM SITES
							block sites
							include ./services/postSites.jade
							block version
							include ./version/version.jade
							// FORM RADIO DESTINATIONS
								//block destinations
								//include ./services/postRadioDestination.jade
			#MenuHistoricos
				table#TblHistoricos(style='table-layout:fixed')
					tr(style='vertical-align:top')
						td#MenuMantenimiento(style='display:table-column')
							nav.menu(style='height:auto')
								h3(tkey='MaintenanceService')
								ul.menuList#MaintenanceOptionsList(style='height:15%')
									li
										a(onclick="showMaintenancePanel('Maintenance')" tkey='Historics')
									li
										a(onclick="showMaintenancePanel('Estadisticas')" tkey='Statistic')
									li
										a(onclick="showMaintenancePanel('Pasarelas')" tkey='Gateways')
									li(style='margin-top:199px')
										a( onclick="hide()", tkey='Exit') 
						td#Historicos(rowspan=2)
							//	FORM HISTORICS
							block historics
							include ./historics/historics.jade
					tr(style='vertical-align:top')
						td#MenuFiltros(style='display:table-column')
							nav.menu(style='height:330px')
								h3(tkey='Filters')
								ul.menuList#FiltersHistorics(style='height:50%:display:none')
									li
										a(onclick="CheckingAnyChange(\'GeneralContent\', function(){hidePreviousHistorics(\'#FormHistorics\',\'#AddFormHistorics\',\'#DivHistorics\'); GetOverallHistorics()})" tkey='Overall')
									li
										a(onclick="CheckingAnyChange(\'GeneralContent\', function(){hidePreviousHistorics(\'#FormHistorics\',\'#AddFormHistorics\',\'#DivHistorics\'); GetOverallHistoricsEvents()})" tkey='OnlyEvents')
									li
										a(onclick="CheckingAnyChange(\'GeneralContent\', function(){hidePreviousHistorics(\'#FormHistorics\',\'#AddFormHistorics\',\'#DivHistorics\'); GetOverallHistoricsAlarms()})" tkey='OnlyAlarms')																				
									li
										a(onclick="CheckingAnyChange(\'GeneralContent\', function(){hidePreviousHistorics(\'#FormHistorics\',\'#AddFilterDate\',\'#DivHistorics\'); ShowFilterDate()})" tkey='Date')
									li
										a(onclick="CheckingAnyChange(\'GeneralContent\', function(){hidePreviousHistorics(\'#FormHistorics\',\'#AddFilterGroup\',\'#DivHistorics\'); ShowFilterGroups()})" tkey='Group')
									li
										a(onclick="CheckingAnyChange(\'GeneralContent\', function(){hidePreviousHistorics(\'#FormHistorics\',\'#AddFilterComponent\',\'#DivHistorics\'); ShowFilterComponent()})" tkey='Component')
									li
										a(onclick="CheckingAnyChange(\'GeneralContent\', function(){hidePreviousHistorics(\'#FormHistorics\',\'#AddFilterCode\',\'#DivHistorics\'); ShowFilterCode()})" tkey='Event')
								ul.menuList#FiltersStatics(style='height:15%:display:none')
									//li
									//	a(onclick="CheckingAnyChange(\'GeneralContent\', function(){hidePreviousHistorics(\'#FormStatiscs\',\'#AddFilterDateEstadisticas\',\'#DivStatistics\'); ShowFilterDateStatiscs()})" tkey='Date')
									li
										a(onclick="CheckingAnyChange(\'GeneralContent\', function(){hidePreviousHistorics(\'#FormStatiscs\',\'#AddFilterComponentEstadisticas\',\'#DivStatistics\'); ShowFilterComponentStatiscs()})" tkey='Component')
									li
										a(onclick="CheckingAnyChange(\'GeneralContent\', function(){hidePreviousHistorics(\'#FormStatiscs\',\'#AddFilterCodeEstadisticas\',\'#DivStatistics\'); ShowFilterCodeStatiscs()})" tkey='Event')
					tr
						td#MenuPasarelas(style='display:table-column')
							nav.menu(style='height:300px')
								h3(tkey='Gateways')
								ul.treeList#GotoGatewaysLocalConfiguration(style='height:90%;display:none')
			#MenuBackup
				table#TblBakups(style='table-layout:fixed')
					tr(style='vertical-align:top')
						td#MenuCfgBackup(style='display:table-column')
							nav.menu(style='height:auto')
								h3(tkey='BackupService')
								ul.treeList#BackupOptionsList(style='height:25%')
									li
										a(onclick="CheckingAnyChange(\'GeneralContent\', function(){hidePreviousBackup(\'#FormConfigurationBackup\',\'#AddFormConfigurationBackup\',\'#DivBackups\');GetParametersBackup()})" tkey='SetupBackup')
									li
										a(onclick="CheckingAnyChange(\'GeneralContent\', function(){hidePreviousBackup(\'#FormLogs\',\'#AddFormLogsBackup\',\'#DivLogs\'); PageLog=0; GetLogsBackup()})" tkey='LogsManagement')
									li
										a(onclick="CheckingAnyChange(\'GeneralContent\', function(){hidePreviousBackup(\'#FormHandBackup\',\'#AddFormHandBackup\',\'#DivHandBackup\'); GetHandBackup()})" tkey='HandBackup')
									li(style='margin-top:199px')
										a( onclick="CheckingAnyChange(\'GeneralContent\', function(){hide()})", tkey='Exit') 
						td#Backups(rowspan=2)
							// FORM BACKUP
							block backups
							include ./backups/backups.jade

		.divNucleo(style='margin-top: 10px')
			footer.footerNucleo#_pieExtern DF Nucleo Copyright ©2017. Todos los Derechos Reservados.
			footer.footerNucleo#hVersion
